body{
    background-color: black;
}
.container #button_up{
    position:absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0;
} 
.container #button_down{
    position:absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
} 

img {
    width: 100%;
    max-height:100%;
    object-fit:cover;
}


.card-img-overlay{top: auto!important;}

h4{display: inline-block;}

h4 , p{
    background-color: rgba(0, 0, 0, 0.628);
    color: white;
    padding: .5rem;
    border-radius: .5rem;
}
